@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box; }

body {
  background-color: #f6e9d1; }

header {
  z-index: 10; }

h1 {
  text-align: center;
  font-size: 40px;
  letter-spacing: 5px; }

h2 {
  margin: 10px;
  color: #EC7357;
  font-size: 30px;
  margin: 20px; }

ul {
  list-style: none;
  font-size: 0; }

a {
  text-decoration: none; }

.padding {
  padding: 1rem; }

.display2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

nav {
  background: #EC7357;
  height: 5rem;
  width: 100%; }
  nav ul {
    float: right;
    margin-right: 1.5rem; }
    nav ul li {
      display: inline-block;
      line-height: 5rem;
      margin: 0 5px; }
      nav ul li a {
        color: #fff;
        font-size: 1rem;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase; }

.logo {
  height: 5rem;
  padding-bottom: 0.2rem;
  box-shadow: none; }

li a:hover {
  background: antiquewhite;
  color: #EC7357;
  font-weight: bolder;
  transition: .5s; }

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

section {
  background: url(fondo.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 80px); }

@keyframes cambiarTamaño {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(0.95); }
  40% {
    transform: scale(0.9); }
  60% {
    transform: scale(0.95); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1.02); } }

img {
  border-radius: 20px;
  box-shadow: 5px 6px 10px gray;
  width: 15rem;
  height: 15rem;
  margin-bottom: 0.4rem;
  animation-name: cambiarTamaño;
  animation-duration: 3s; }

footer {
  background-color: #EC7357;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center; }

.recept {
  border: 3px black solid;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  position: relative;
  width: 100%;
  margin: auto; }

.container1 {
  border: 3px black solid;
  border-radius: 10px;
  padding: 2rem;
  margin: 1rem;
  position: relative;
  width: 90%;
  margin: auto;
  background-color: antiquewhite; }

input {
  margin-bottom: 1.5rem;
  width: 80%;
  padding: 0.5rem 1rem; }

select {
  width: 20rem; }

.marginBody {
  margin-bottom: 10rem; }

section {
  margin-bottom: 12px;
  width: 80%; }

.bloque {
  position: relative;
  width: 80%;
  height: 100px;
  margin-left: 10%;
  margin-right: 10%; }

.fotoPrincipal {
  width: 50rem;
  height: 30rem;
  margin-left: 3rem; }

.display {
  display: inline-block;
  margin: 0 auto; }

.container2 {
  border: 2px solid  black;
  padding: 30px;
  width: 80%;
  height: 32rem;
  position: relative;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 100px; }

.container3 {
  padding: 2rem;
  width: 90%;
  height: 30rem;
  position: relative;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 6rem; }

.contenedorPostre {
  order: 2px solid salmon;
  background-color: salmon;
  padding-bottom: 4rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 80%;
  height: 3rem;
  font-size: 40px;
  text-align: center;
  margin-left: 5rem;
  margin-right: 5rem; }

.spaceleft {
  margin-left: 20rem;
  font-size: 1.5rem; }

select {
  display: inline-block;
  font-size: 2rem;
  width: 12rem;
  margin-left: 0.5rem; }

/*HTML*/
.contenedor {
  display: grid;
  grid-template-areas: "nav1 nav1 nav1 nav1" " main1 main1 main1 main1" "footer1 footer1 footer1 footer1"; }

header {
  grid-area: nav1; }

main {
  grid-area: main1; }

aside {
  grid-area: aside1; }

footer {
  grid-area: footer1; }

section {
  grid-area: section; }

.centrar {
  display: flex;
  justify-content: center; }

.text-start {
  line-height: 3rem;
  word-spacing: 0.5rem; }

/*Versión Tablet*/
@media (min-width: 768px) {
  nav ul li a {
    font-size: 16px; }
  .contenedor {
    display: grid;
    grid-template-areas: "nav1" " main1 " " section " "footer1";
    gap: 20px; } }

/*Versión Celular*/
@media (min-width: 350px) and (max-width: 767px) {
  .checkbtn {
    display: block; }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #EC7357;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s; }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px; }
  nav ul li a {
    font-size: 20px; }
  li a:hover, li a.active {
    background: none;
    color: orange; }
  #check:checked ~ ul {
    left: 0; }
  .contenedor {
    display: grid;
    grid-template-areas: "nav1" " main1 " " section " "footer1";
    gap: 10px; } }

.botoncito {
  background-color: #EC7357; }

.facebook {
  color: blue; }

.instagram {
  color: red; }

.texto {
  color: #0a0a0a;
  font-size: 1rem; }

.red {
  color: red; }

.blue {
  color: blue; }

.textoexplicativo, .textoexplicativo2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left; }

.textoexplicativo2 {
  background-color: #f8e5ce; }

.descripcionRestaurante {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  text-align: center; }
