body{
   background-color: antiquewhite;
}
h1{
    text-align: center;
    font-size: 40px;
    letter-spacing: 5px;
 
  }
h2{
    margin: 10px;
    color: #EC7357;
    font-size: 30px;
    margin: 20px;
}
h3{
    margin: 10px;
    color: green;
    font-size: 30px;
}
ul {
     list-style: none;
     font-size:0 /* truco por el uso de inline-block*/
}
a{
   text-decoration: none;
}

ul ul {
    position: relative;
    display: none;
}
.padding{
   padding: 20px;
}

nav{
   background-color: #EC7357;
   position: relative;
   width: 100%;
   li{
   display: inline-block;
   width: 20%;
   position:relative;
   font-size: 14px;
   }
}
.btn{
   padding-top: 55px;
   padding-bottom: 55px;
   padding-left: 100px;
   padding-right: 100px;
   border: 1px;
   color: aliceblue;
   animation-name: cambiarTamaño;
   animation-duration:2s;
}
@keyframes cambiarColor{
0%{
   background-color: #EC7357;
   }
100%{
   background-color: rgb(38, 0, 255);
   }
}
  @keyframes cambiarTamaño{
      0%{
         transform: scale(1) ;
      }
      20%{
         transform: scale(0.95);
      }
      40%{
         transform: scale(0.9);
      }
      60%{
         transform: scale(0.95);
      }
      80%{
         transform: scale(1);
      }
      100%{
         transform: scale(1.02);
      }
  }
.btn:hover{
   animation-name: cambiarTamaño;
   animation-duration: 3s;
}
.btn:hover{
   animation-name: cambiarColor;
   animation-duration: 3s;
}

img{
    width: 15rem;
    height: 15rem;
    animation-name: cambiarTamaño;
    animation-duration: 3s;  
}

header{
   margin-bottom: 50px;
   width: 100%;
}
 
 footer{
    background-color:#EC7357;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
 }
.recept{
   border: 3px black solid;
   padding: 30px;
   margin: 10px;
   position: relative;
   width: 100%;
   margin: auto;
}

.container1{
   border: 3px black solid;
   padding: 2rem;
   margin: 1rem;
   position: relative;
   width: 90%;
   margin: auto;
}
input{
   margin-bottom: 1.5rem;
   width: 80%;
}

.marginBody{
   margin-bottom: 10rem;
}
 section{
      margin-bottom: 12px;
      width: 80%;
}
.bloque{
   position: relative;
   width: 80%;
   height: 100px;
   margin-left: 10%;
   margin-right: 10%;
}

.fotoPrincipal{
   width: 800px;
   height: 600px;
   margin-left: 50px;
}

.display{
   display: inline-block;
   margin: 0 auto;
}
.container2{
   border: 2px solid  black;
   padding: 30px;
   width: 80%;
   height: 500px;
   position: relative;
   margin-right: 10%;
   margin-left: 10%;
   margin-top: 100px;

}

.contenedorPostre{
    order: 2px solid salmon;
   background-color: salmon;
   padding-bottom: 4rem;
   margin-bottom: 2rem;
   margin-top: 2rem;
   width: 80% ;
   height: 3rem;
   font-size: 40px;
   text-align: center;
   margin-left: 5rem;
   margin-right: 5rem;
}

.spaceleft{
   margin-left: 20rem;
   font-size: 1.5rem;
}
select{
   display: inline-block;
   font-size: 2rem;
   width: 12rem;
   margin-left: 0.5rem;
}
 /*HTML*/
.contenedor{
   display: grid;
   grid-template-areas: 
   "nav1 nav1 nav1 nav1"
   " main1 main1 main1 main1"
   "footer1 footer1 footer1 footer1";
}
 
 header{
   grid-area: nav1;
 }
 main{
   grid-area: main1;
 }
 aside{
   grid-area: aside1;
 }
 footer{
   grid-area: footer1;
 }
 section{
   grid-area: section;
 }

.centrar{
   display: flex;
   justify-content: center;
}
.text-start{
   line-height: 3rem;
   word-spacing: 0.5rem;
}
/*Versión Tablet*/ 
@media(min-width:768px){
   .contenedor{
      display:grid;
      grid-template-areas: 
      "nav1"
      " main1  section"
      "footer1";
      gap: 20px;
   }
}

/*Versión Celular*/ 
@media(min-width:350px){
   .contenedor{
      display:grid;
      grid-template-areas: 
      "nav1"
      " main1 "
      " section "
      "footer1";
      gap: 10px;
   }
}

.botoncito{
   background-color: #EC7357;
}
@import "maps";
@import "bucles";
@import "extend";
@import "mixin"